html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f8f8f8;
    font-family: sans-serif;
}

header {
    height: 100px;
    text-align: center;
    font-size: 200%;
    line-height: 100px;
    background: #212121;
    color: white;
    border-bottom: 3px solid #dddddd;
}

.navbar {
    margin-bottom: 0px;
}

#content-container {
    min-height: 75vh;
    background: white;
    border-bottom: 3px solid #e7e7e7;
}

#table-container {
    margin-top: 40px;
}

.table {
    text-align: center;
    margin: 0;
}

td, th {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    background: #00b386;
    color: white;
    border: 2px solid #008060 !important;
}

footer {
    padding: 20px;
    padding-left: 50px;
    line-height: 40px;
}